#control_btn button{
    border: 1px solid #D52484;
    background-color: #D52484;
    border-radius: 50px;
    margin-left: 15px;
    padding: 6px 17px 6px 17px;
    color: #ffffff;
    font-weight: 500;
}